@import url(https://fonts.googleapis.com/css?family=Cabin); 
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic&subset=latin,latin-ext); 

/*
#header div.branding-container::before {
    content: "The Georgetown Archival Resouces System is being re-indexed.  Some content may not be available during this process." !important;
    top: 0px;
    position: relative;
    display: block;
    background-color: #c63535;
}
*/

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: Cabin;
}

body {
    font-family: Arimo;
    letter-spacing: 1px;
}


#header, header {
    background-color: #04254B;
    background-image:url(/assets/dark_Tire_002147.png);
    background-repeat:repeat;
}

#header div.row {
    border-bottom: none;
    height: inherit;
}

div.panel-footer {
	background-color: #04254B;
        background-image:url(/assets/dark_Tire_002147.png);
        background-repeat:repeat;
	color: white;
}

div.panel-footer a {
	color: #7bace4!important;
	text-shadow: none!important;
}

#header div.branding-container a, div.panel-footer div.branding-container a {
  margin-left: 20px;
  margin-right: 20px;
}

#header div.branding-container {
  width: 100% !important;
  text-align: center;
}

#header div.gulogo {
    text-align: left;
}

div.gulogo, .gudglogo {
	padding-top: 4px;
}

#header div.row div.h1 {
	color: white;
	text-align: center;
	position: relative;
	width: 100%;
        margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 24px;
}


.label-info, .badge-info {
  background-color: #72984b!important;
}

body {
  background: #fff url(/assets/linen.png) repeat top left;
}

div.gucarroll {
	text-align: center;
}

@media (max-width: 810px) {
    .gureplogo, .gudglogo {
        display: none;
    }

    #header div.row {
        text-align: left;
    }
}

@media (min-width: 811px) {
    .gureplogo, .gudglogo {
        display: inline;
    }
}

div.gufoottext {
    text-align: right;
}

div.gufootlogo {
  text-align: right;
}
   
div.panel-footer div.branding-container {
	margin-bottom: 10px;
    text-align: center;
}

div.gu-ask-us {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #022349;
}

div.gu-ask-us, div.gu-ask-us a {
    color: white!important;
}

div.gu-ask-us a {
    text-decoration: underline;
}

div.title-pane div.gu-ask-us {
	margin-top: 10px;
	margin-left: 20px;
}

#container-fluid {
  background-color: white;
}

.navbar {margin-bottom:0px;} 
.panel-footer {margin-top: 0px;} 

#header a {
  color: white;
}

div.physloc {
  display:none;
}