<div class="container-fluid navbar-branding">
  <a href="https://manoa.hawaii.edu/library/">
        <img class="logo" src="<%= asset_path(AppConfig[:frontend_branding_img]) %>" alt="<%= AppConfig[:frontend_branding_img_alt_text] %>" />
  </a>
</div>